.App {
  background-color: rgb(97, 179, 97);
  font-family: "Courier New", Courier, monospace;
}

.Topic {
  background-color: rgb(179, 33, 33);
  text-transform: uppercase;
}

.articleList {
  background-color: rgb(48, 48, 199);
  text-align: left;
  margin: 0px 20py;
}

#listEntries {
  list-style-type: none;
}
